*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 100vh;
    width: 50%;
    background: linear-gradient(58.8deg, #023E8A 41.98%, #2C5E9D 81.58%);
}

#sign_in_form{
    width: 50%;
    height: 100vh;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 70px;
}
#agree{
    margin-left: unset;
}

#button_1{
    padding: 0.4rem;
    width: 300px;
    height: 45px;
    margin: 00.4rem 0;
    border: 1px solid #8A8C8F;
    border-radius: 8px;
    margin-left: 100px;
    outline: none;
   
}

#button_2{
    padding: 0.4rem;
    width: 300px;
    height: 45px;
    margin: 00.2rem 0;
    border: 1px solid #8A8C8F;
    border-radius: 8px;
    margin-left: 100px;
    outline: none;
} 

#or{
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0px;
    margin-left: 230px;
}
p{
    font-size:xx-small;
    font-weight: 100;
    margin-left: 100px;
}
#account_already{
    font-size: small;
    font-weight: 200;
    margin-left: 140px;
}

.parent{
    text-align: left;
}

#agree{
    display: inline-block;
    margin-left: -40px;
  
}

#agrees{
    display: inline-block;
    margin-left: -140px;

}

label{
    font-weight: 100;
    font-size: 14px;
    margin: 10px 0px;
    margin-left: 100px;
}

input{
    padding: 0.6rem;
    width: 300px;
    border: 1px solid #8A8C8F;
    border-radius: 8px;
    outline: none;
    margin-left: 100px;
    /* width: 100%; */
}

.create{
    font-size: 20px;
    font-weight: 600;
    background-color: #023E8A;
    color: #FFFFFF;
    transition: width .35s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #logo{
        height: 50vh;
        width: 100%;
        background: linear-gradient(58.8deg, #023E8A 41.98%, #2C5E9D 81.58%);
    }
    h1{
        font-size: 40px;
        font-weight: 600;
    } 
    
    #sign_in_form{
        width: 90%;
    }

    
}
